*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include respond-max($medium-650px) {
    font-size: 55%;
  }

  @include respond-max($small-550px) {
    font-size: 48%;
  }
}

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

button {
  &,
  &:focus {
    outline: none;
  }
}
