*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include respond-max($large-650px) {
    font-size: 50%;
  }
}

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

button {
  &,
  &:focus {
    outline: none;
  }
}

.flickity-viewport {
  width: 100% !important;
  height: 100% !important;
}
// .flickity-slider {
//   transform: translateX(0%);
// }
.flickity-button {
  border: 1px solid #000;
  color: black;
  transition: all 0.3s;
  background-color: white;

  &:hover {
    border: 1px solid blue;
    background-color: blue !important;
  }

  &:hover svg {
    fill: white;
  }
}
