.best-sellers-section {
  padding: 4rem 7%;

  @include respond-max($largest-950px) {
    padding: 4rem 4%;
  }

  .section__title {
    font-size: 2.5rem;
    text-transform: capitalize;
    text-align: center;
    font-weight: 400;
  }

  .product__cards {
    width: 100%;
    height: 100%;

    .product__card {
      margin: 2rem;
    }
  }
}
