$nav-primary-color: lightblue;
$primary-font-stack: 'Oswald', sans-serif;
$logo-font-stack: 'Rouge Script', cursive;

// breakpoints
$largest-1000px: 62.5em;
$larger-900px: 56.5em;
$large-750px: 46.8em;
$medium-650px: 40.6em;
$small-550px: 34.3em;
$smaller-450px: 28em;
